QCheckBox 
{
  border: 1px solid gray;
}

QCheckBox::indicator 
{  
  width:13px; 
  height:13px; 
}

QCheckBox::indicator:unchecked 
{ 
  border-image:url(:/example.png); 
} 

QCheckBox::indicator:unchecked:hover 
{ 
  border-image:url(:/example.png); 
} 

QCheckBox::indicator:unchecked:pressed 
{ 
  border-image:url(:/example.png); 
}